* {
  font-family: 'Open Sans', sans-serif;
}

body {
  width: 70%;
  margin: auto;
}

section {
  display: flex;
  justify-content: center;
}

h1 {
  text-align: right;
  font-family: 'Oswald', sans-serif;
  font-weight: bold;
  margin-right: 150px;
}

aside {
  width: 25%;
  background: #DCDCDC;
  text-align: center;
  height: 100%;
  padding: 15px 20px;
}

aside p {
  padding-bottom: 23px;
}

.article__link {
  margin-bottom: 150px;
}

article {
  margin-left: 30px;
  padding-top: 15px;
}

.article__hello {
  font-style: italic;
}

footer {
  display: flex;
  margin: -100px 350px 0px 470px;
  padding: 5px;
  background: yellow;
}

footer a {
  font-weight: bold;
  font-size: 20px;
  color: black;
}
